ion-toolbar {
    --background: transparent;

    ion-icon {
        font-size: 24px;
        margin-left: 16px;
    }
}

.suggest {
    --padding-start: 30px;
    --padding-end: 30px;

    &__title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        justify-content: center;
        flex-direction: column;

        ion-textarea {
            height: 200px;
            --border-color: var(--color-turquoise-blue);
            --border-radius: 8px;
            --placeholder-color: var(--color-turquoise-blue);
            --highlight-color-focused: var(--color-turquoise-blue);
        }

        ion-button {
            margin-top: 24px;
        }
    }
}
