@import '/src/theme/responsive.scss';

ion-progress-bar {
    margin-bottom: 12px;
    height: 35px;
    margin-top: 20px;

    --ion-color-base: var(--gradient-primary) !important;
}

.collectible {
    &__image {
        border-radius: 20px;
    }

    &__id {
        margin: 0;
        font-size: 64px;
        color: var(--color-white);
        margin-bottom: 42px;
    }

    &__level {
        align-items: center;

        .points {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 60px;
            height: 40px;
            border-radius: 5px;
            background-color: var(--color-dark);
            gap: 5px;
            font-weight: 500;

            ion-icon {
                font-size: 19px;
            }
        }

        .level {
            margin-bottom: 8px;
            font-size: 24px;
            font-weight: 600;

            .number {
                font-size: 38px;
                background: var(--gradient-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .collection-name {
        margin-top: 56px;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 0;
    }

    .properties {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;

        &__title {
            font-size: 24px;
            color: var(--color-white);
        }

        .property {
            flex: 1;
            padding: 8px;
            background: var(--color-dark);
            border-radius: 16px;

            &__title {
                line-height: 1.25rem;
                font-size: 18px;
                color: rgb(199, 199, 199);
                margin: 0;
                text-transform: uppercase;
                font-weight: 200;
            }

            &__value {
                font-weight: bold;
                margin: 0;
                color: var(--color-white);
                font-size: 20px;
                margin-top: 8px;
            }
        }

        @media (max-width: ($breakpoint-xs - 1)) {
            gap: 8px;
        }
    }
}
