.collectibles-gallery {
    &__filters {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .filter {
            border-radius: 5px;
            background: var(--color-dark);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 20px;
            height: 35px;
            width: 45px;
        }

        .filter-section {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            justify-content: flex-start;

            .filter--clear {
                font-size: 14px;
                color: var(--color-light-grey);
            }
        }
    }
}
