<ion-content class="collectibles-gallery main-page" [scrollY]="true">
    <ion-grid class="main-page__grid gallery">
        <div class="collectibles-gallery__filters">
            <span class="filter">
                <ion-icon name="options-outline"></ion-icon>
            </span>
            <span class="filter">
                <ion-icon (click)="changeColsNumber()" name="grid-outline"></ion-icon>
            </span>
        </div>
        <df-collectibles-gallery
            *ngIf="collectibles"
            (collectibleClicked)="navigateCollectible($event)"
            [cols]="colsNumber"
            [collectibles]="collectibles"
            [showCollectibleNumber]="true"
        ></df-collectibles-gallery>
    </ion-grid>
</ion-content>
