<section class="leader-board">
    <h3 class="leader-board__title">Leader board</h3>
    <div class="leader-board__user-list">
        <div class="user">
            <ion-icon class="user__trophy user__trophy--first" name="trophy-outline"></ion-icon>
            <span class="user__ranking">1</span>
            <span class="user__alias">j.reneses</span>
            <span class="user__points">1200</span>
        </div>
        <div class="user">
            <ion-icon class="user__trophy" name="trophy-outline"></ion-icon>
            <span class="user__ranking">2</span>
            <span class="user__alias">a.marinp</span>
            <span class="user__points">1100</span>
        </div>
        <div class="user">
            <ion-icon class="user__trophy" name="trophy-outline"></ion-icon>
            <span class="user__ranking">3</span>
            <span class="user__alias">s.leiches</span>
            <span class="user__points">900</span>
        </div>
    </div>
    <span class="leader-board__show-all">
        Show all
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </span>
</section>
