.leader-board {
    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    &__user-list {
        padding: 16px;
        background-color: var(--color-dark);
        border-radius: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            &__trophy {
                color: var(--color-turquoise-blue);
                font-size: 30px;

                &--first {
                    color: var(--color-purple);
                }
            }

            &__ranking {
                min-width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__alias {
                min-width: 100px;
            }
        }
    }

    &__show-all {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 28px;
    }
}
