<ion-content class="club main-page" [scrollY]="true">
    <section class="club__match match">
        <h4 class="match__title"><strong>Liga</strong> | Jornada 1</h4>
        <div class="match__rivals rivals">
            <div class="rivals__local-rival rival">
                <img class="rival__logo" src="assets/images/examples/deport_logo.png" alt="" />
                <span class="rival__title">Deportivo</span>
            </div>
            <div class="rivals__content">
                <ion-icon name="football-outline"></ion-icon>
                <span class="date">Lun 14 / AGO 2023 / 21:30h</span>
                <span class="location">Abanca Riazor</span>
            </div>
            <div class="rivals__visitor-rivals rival">
                <img class="rival__logo" src="assets/images/examples/barca_logo.png" alt="" />
                <span class="rival__title">Barcelona</span>
            </div>
        </div>
    </section>
    <ion-grid class="main-page__grid">
        <section class="club__navigation-cards">
            <div class="navigation-cards__card" style="--card-title: 'History'" (click)="navigateToHistory()">
                <img src="assets/images/examples/deport-wallpaper.png" alt="" />
            </div>
            <div class="navigation-cards__card" style="--card-title: 'Camp'" (click)="navigateToStadium()">
                <img src="assets/images/examples/camp_deport.png" alt="" />
            </div>
            <div class="navigation-cards__card" style="--card-title: 'Shop'" (click)="navigateToShop()">
                <img src="assets/images/examples/cami-1-deport.jpg" alt="" />
            </div>
            <div class="navigation-cards__card" style="--card-title: 'Tickets'" (click)="navigateToTickets()">
                <img src="assets/images/examples/deport_match_challenge.jpeg" alt="" />
            </div>
        </section>
    </ion-grid>
    <section class="club__feeds">
        <div class="feed">
            <img class="feed__preview" src="assets/images/examples/feed_03.png" />
            <p class="feed__extract">Lucas Pérez y Davo le dan el triunfo con un marcador que se quedó corto...</p>
            <h3 class="feed__title">2-0 | El Deportivo coge soltura ante el Compostela</h3>
            <span class="feed__date"> 13/08/2023 </span>
            <div class="feed__divider"></div>
        </div>
        <div class="feed">
            <img class="feed__preview" src="assets/images/examples/feed_01.png" />
            <p class="feed__extract">El canario, en caso de ascenso en los dos próximos cursos...</p>
            <h3 class="feed__title">El Deportivo amplía hasta 2026 el contrato de Yeremay</h3>
            <span class="feed__date"> 12/08/2023 </span>
            <div class="feed__divider"></div>
        </div>
        <div class="feed">
            <img class="feed__preview" src="assets/images/examples/feed_02.png" />
            <p class="feed__extract">El atacante llegó a Riazor en el verano de 2022 procedente del filial...</p>
            <h3 class="feed__title">Víctor Narro rescinde su contrato con el Deportivo</h3>
            <span class="feed__date"> 10/08/2023 </span>
            <div class="feed__divider"></div>
        </div>
    </section>
</ion-content>
