:host {
    --card-title: '';
}

.club {
    .match {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 8px;
        align-items: center;
        justify-content: center;

        &__title {
            margin-bottom: 24px;
            font-weight: 200;
            font-size: 18px;
        }

        .rivals {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;

            .rival {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                img {
                    margin-bottom: 4px;
                }

                &__title {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            &__content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-width: 215px;
                gap: 16px;
                font-size: 14px;
                text-transform: uppercase;

                ion-icon {
                    font-size: 34px;
                }
            }
        }
    }

    &__navigation-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 14px;
        justify-content: space-between;

        .navigation-cards__card {
            position: relative;
            height: 150px;
            width: 48%;
            border-radius: 8px;

            &::before {
                font-size: 24px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                content: var(--card-title);
                background-color: rgba(0, 0, 0, 0.553);
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 0 auto;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }
    }

    &__feeds {
        .feed {
            width: 100%;
            margin-bottom: 40px;

            &__preview {
                height: 160px;
                width: 100%;
                margin-bottom: 4px;
            }

            &__extract {
                margin: 0;
                font-size: 14px;
                font-weight: 200;
                text-transform: uppercase;
                line-height: 20px;
                padding: 0 8px;
            }

            &__title {
                font-weight: bold;
                font-size: 24px;
                padding: 0 30px;
                margin-top: 8px;
            }

            &__date {
                font-weight: bold;
                font-size: 14px;
                padding: 0 8px;
            }

            &__divider {
                height: 2px;
                background: #4cc0c4;
                width: 100%;
                display: block;
                margin-top: 16px;
            }
        }
    }
}
