<ion-content class="market main-page" [scrollY]="true">
    <ion-grid class="main-page__grid">
        <div class="market__collection collection">
            <img class="collection__logo" src="assets/images/examples/collectibles/collectible-08.png" alt="" />
            <h2 class="collection__name">{{ clubPrefix }} Lad - Collection</h2>
        </div>
        <div class="market__info">
            <div class="row">
                <div class="market__info-element">
                    <span class="element__value">1000 SOL</span>
                    <span class="element__label">Total volumen</span>
                </div>
                <div class="market__info-element">
                    <span class="element__value">3 SOL</span>
                    <span class="element__label">Floor price</span>
                </div>
                <div class="market__info-element">
                    <span class="element__value">2.2 SOL</span>
                    <span class="element__label">Best offer</span>
                </div>
            </div>
            <div class="row">
                <div class="market__info-element">
                    <span class="element__value">33%</span>
                    <span class="element__label">Listed</span>
                </div>
                <div class="market__info-element">
                    <span class="element__value">3.002</span>
                    <span class="element__label">Owners</span>
                </div>
                <div class="market__info-element">
                    <span class="element__value">22%</span>
                    <span class="element__label">Unique owners</span>
                </div>
            </div>
        </div>
        <div class="market__tabs tabs">
            <span
                class="tabs__tab"
                [ngClass]="{ 'tabs__tab--active': galleryTabSelected === 'collectibles' }"
                (click)="galleryTabSelected = 'collectibles'"
            >
                Collectibles
            </span>
            <span
                class="tabs__tab"
                [ngClass]="{ 'tabs__tab--active': galleryTabSelected === 'fanPoints' }"
                (click)="galleryTabSelected = 'fanPoints'"
            >
                FanPoints
            </span>
        </div>
        <section *ngIf="galleryTabSelected === 'collectibles'; else fanPointsTab" class="market__gallery">
            <df-collectibles-gallery
                [isMarket]="true"
                [cols]="2"
                [collectibles]="collectiblesListed"
            ></df-collectibles-gallery>
        </section>
        <ng-template #fanPointsTab>
            <section class="market__fan-points">
                <div class="fan-point" *ngFor="let fanPoint of fanPointsListed">
                    <div class="fan-point__amount">
                        <ion-icon src="assets/icon/df-fan-point-gradient.svg"></ion-icon>
                        <span class="amount">{{ fanPoint.count }}FP</span>
                    </div>
                    <div class="fan-point__action">
                        <ion-button class="df-button df-button--secondary"> BUY </ion-button>
                        <span class="fan-price">{{ fanPoint.pricePerToken }}€/FP</span>
                    </div>
                </div>
            </section>
        </ng-template>
    </ion-grid>
</ion-content>
