.market {
    .collection {
        &__logo {
            border: 2px solid var(--color-white);
            border-radius: 16px;
            width: 72px;
        }

        &__name {
            font-size: 24px;
            color: var(--color-white);
            margin-bottom: 32px;
            font-weight: bold;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;

        .row {
            display: flex;
            flex-direction: row;
            gap: 24px;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .market__info-element {
                display: flex;
                flex-direction: column;
                gap: 8px;
                flex: 1;

                .element__value {
                    font-size: 16px;
                    font-weight: bold;
                }

                .element__label {
                    font-size: 12px;
                    color: var(--color-light-grey);
                }
            }
        }
    }

    .fan-point {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;

        &__amount {
            display: flex;

            ion-icon {
                font-size: 27px;
                margin-right: 8px;
            }

            .amount {
                background: var(--gradient-primary);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 20px;
                font-weight: 500;
            }
        }

        &__action {
            display: flex;
            flex-direction: column;
            align-items: center;

            ion-button {
                width: 83px;
            }

            .fan-price {
                font-size: 14px;
                font-weight: 200;
                background: var(--gradient-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
            }
        }
    }
}
