:root {
    --gradient-primary: linear-gradient(54deg, #a30eca 0%, #5d52c7 49.21%, #4dc1c5 100%);
    --gradient-secondary: linear-gradient(180deg, #4cc0c4 0%, #4cc0c4 100%);
    --color-white: #fff;
    --color-turquoise-blue: #4cc0c4;
    --color-dark-text: #111;
    --color-white-text: #f6f2f1;
    --color-opacity-white-text: #f6f2f130;
    --color-light-grey: #909090;
    --color-dark: #2c2c2c;
    --color-purple: #a30eca;
    --color-purple-2: #5d52c7;
    --color-light-red: #c44c53;
    --color-success: #2fdf75;
    --color-danger: #bb2424;
    --app-background-color: #000000;
}
