<section class="quiz-challenge" [ngClass]="{ 'quiz-challenge--completed': quizCompleted && !quizInProgress }">
    <ng-container *ngIf="!quizInProgress; else quiz">
        <ng-container *ngIf="!quizCompleted; else leaderBoardTemplate">
            <h3 class="quiz-challenge__title">{{ clubName }} Quizz</h3>
            <div class="quiz-challenge__description">
                Compete and earn {{ fanPointsWin }} Fan Points:
                <br />
                - 5 Fan Points for participating
                <br />
                - 50 Fan Points for the winner"
            </div>
            <ion-button class="df-button df-button--primary" (click)="startQuiz()">
                <ion-icon slot="start" name="game-controller-outline"></ion-icon>
                Start quizz
            </ion-button>
        </ng-container>
        <ng-template #leaderBoardTemplate>
            <df-leader-board [leaderBoard]="leaderBoard" type="challenge"></df-leader-board>
            <div class="quiz-completed">
                <h3 class="quiz-challenge__title">Quizz completed</h3>
                <p class="quiz-completed__description">
                    You have answered correctly <strong>{{ quizQuestionAnswersCorrect }}</strong> out of
                    <strong>{{ quizQuestions.length }}</strong> questions.
                </p>
                <div class="quiz-completed__reward">
                    <div class="reward-content">
                        <h4>You have scored:</h4>
                        <div>120 <span>FP</span></div>
                    </div>
                </div>
                <div class="quiz-restart">
                    <h4 class="quiz-restart__title">Restart quiz</h4>
                    <p class="quiz-restart__description">Restart the quiz to improve your score</p>
                    <ion-button class="df-button df-button--primary" (click)="startQuiz()">
                        <ion-icon slot="start" name="game-controller-outline"></ion-icon>
                        Restart quizz
                    </ion-button>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <ng-template #quiz>
        <div class="quiz">
            <ng-container *ngFor="let question of quizQuestions; let i = index">
                <ion-grid class="quiz-question" *ngIf="displayedQuestion === question">
                    <h4 class="quiz-question__title">{{ question.label }}</h4>
                    <div class="answers">
                        <div
                            class="answers__answer"
                            [ngClass]="{
                                'answers__answer--selected': answer.selected,
                                'answers__answer--correct': answer.isCorrect && answer.selected
                            }"
                            (click)="selectAnswer(answer)"
                            *ngFor="let answer of question.answers"
                        >
                            {{ answer.label }}
                            <ng-container *ngIf="answer.selected">
                                <span *ngIf="answer.isCorrect; else answerIncorrect">
                                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                                </span>
                                <ng-template #answerIncorrect>
                                    <span>
                                        <ion-icon name="close-circle-outline"></ion-icon>
                                    </span>
                                </ng-template>
                            </ng-container>
                        </div>
                    </div>
                </ion-grid>
            </ng-container>
            <div class="quiz__actions">
                <ion-button [fill]="'clear'" [disabled]="indexDisplayedQuestion === 1" (click)="previousQuestion()">
                    <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
                    Previous
                </ion-button>
                <ng-container *ngIf="indexDisplayedQuestion < quizQuestions.length; else endQuiz">
                    <ion-button [fill]="'clear'" (click)="nextQuestion()">
                        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                        Next
                    </ion-button>
                </ng-container>
                <ng-template #endQuiz>
                    <ion-button class="df-button df-button--primary" (click)="sendQuiz()">
                        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                        Send
                    </ion-button>
                </ng-template>
            </div>
        </div>
    </ng-template>
</section>
