<ion-content class="challenges main-page" [scrollY]="true">
    <ion-grid class="main-page__grid">
        <section class="challenges__section">
            <h2 class="challenges__title">Challenges</h2>
            <div class="challenges__tabs tabs">
                <span
                    class="tabs__tab"
                    [ngClass]="{ 'tabs__tab--active': challengesTabSelected === 'digital' }"
                    (click)="challengesTabSelected = 'digital'"
                >
                    Digital
                </span>
                <span
                    class="tabs__tab"
                    [ngClass]="{ 'tabs__tab--active': challengesTabSelected === 'onField' }"
                    (click)="challengesTabSelected = 'onField'"
                >
                    On field
                </span>
            </div>
            <div class="challenges__type">
                <ng-container *ngIf="challengesTabSelected === 'digital'; else onFieldChallengesSection">
                    <div class="challenge__card challenge__card--shadow quiz__challenge">
                        <img class="quiz__preview" src="/assets/images/examples/depor_player.png" />
                        <div class="quiz__content">
                            <h3 class="title">#legendsQUIZ</h3>
                            <ion-button (click)="goToChallenge(5)"> Play </ion-button>
                        </div>
                    </div>
                    <div class="match">
                        <h3 class="match__title pre-title">Porra of the Week</h3>
                        <div class="challenge__card challenge__card--shadow match__challenge">
                            <div class="match__clubs">
                                <img src="/assets/images/examples/deport_logo.png" />
                                VS
                                <img src="/assets/images/examples/barca_logo.png" />
                            </div>
                            <div class="match__action">
                                <ion-button [routerLink]="['/challenges/6']"> Play </ion-button>
                            </div>
                        </div>
                    </div>
                    <div class="scorers">
                        <h3 class="scorers__title pre-title">Weekly scorers predictions</h3>
                        <div class="challenge__card challenge__card--shadow scorers__challenge">
                            <div class="scorers__players">
                                <div class="player">
                                    <img src="/assets/images/examples/deport_player1.png" />
                                    Roberto <br />Villares
                                </div>
                                <div class="player">
                                    <img src="/assets/images/examples/deport_player2.png" />
                                    Diego <br />Villares
                                </div>
                                <div class="player">
                                    <img src="/assets/images/examples/deport_player3.png" />
                                    Isi <br />Gomez
                                </div>
                            </div>
                            <div class="scorers__action">
                                <ion-button (click)="goToChallenge(7)"> Play </ion-button>
                            </div>
                        </div>
                    </div>
                    <div class="fantasy-league">
                        <h3 class="fantasy-league__title pre-title">#FANTASYleague</h3>
                        <div
                            class="challenge__card challenge__card--shadow challenge__card--column fantasy-league__challenge"
                        >
                            <div class="fantasy-league__match">
                                <div class="match__club">
                                    <img src="/assets/images/examples/deport_logo.png" />
                                    <span class="name">Deport</span>
                                </div>
                                <span class="match__result"> 1-1 </span>
                                <div class="match__club">
                                    <img src="/assets/images/examples/barca_logo.png" />
                                    <span class="name">Barça</span>
                                </div>
                            </div>
                            <div class="fantasy-league__match">
                                <div class="match__club">
                                    <img src="/assets/images/examples/real_sociedad_logo.png" />
                                    <span class="name">Real Sociedad</span>
                                </div>
                                <span class="match__result"> 1-3 </span>
                                <div class="match__club">
                                    <img src="/assets/images/examples/sevilla_logo.png" />
                                    <span class="name">Malaga</span>
                                </div>
                            </div>
                            <div class="fantasy-league__match">
                                <div class="match__club">
                                    <img src="/assets/images/examples/villareal_logo.png" />
                                    <span class="name">Villareal</span>
                                </div>
                                <span class="match__result"> 2-2 </span>
                                <div class="match__club">
                                    <img src="/assets/images/examples/atletico_logo.png" />
                                    <span class="name">Atlético</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #onFieldChallengesSection>
                    <df-physical-challenges
                        (scanEmitter)="scanPhysicalChallenges($event)"
                        [challenges]="onFieldChallenges"
                    ></df-physical-challenges>
                </ng-template>
            </div>
        </section>
    </ion-grid>
</ion-content>
