<ion-content class="collectibles main-page" [scrollY]="true">
    <ion-grid class="main-page__grid">
        <section class="collectibles__my-collectible">
            <h2 class="my-collectible__title">Your Collectibles</h2>
            <div class="collectible">
                <img
                    (click)="navigateCollectible(userData.userCollectible.hashId)"
                    [alt]="userData.userCollectible.name"
                    [src]="userData.userCollectible.image"
                />
                <div class="collectible__level">
                    <span class="title"
                        >Level <span class="number">{{ userData.level }}</span>
                    </span>
                    <ion-progress-bar
                        type="determinate"
                        [value]="userData.userCollectible.percentage"
                        color="primary"
                    ></ion-progress-bar>
                    <span class="hash"> #{{ userData.userCollectible.hashId }} </span>
                </div>
            </div>
        </section>
        <section class="collectibles__gallery">
            <div class="gallery__header">
                <h3 class="gallery__title">Gallery</h3>
                <a class="gallery__show-all" (click)="navigateGallery()">
                    Show all <ion-icon name="chevron-forward-outline"></ion-icon>
                </a>
            </div>
            <df-collectibles-gallery
                (collectibleClicked)="navigateCollectible($event)"
                [cols]="3"
                [collectibles]="collectibles"
            ></df-collectibles-gallery>
        </section>
    </ion-grid>
</ion-content>
