<ion-content class="challenge main-page" [scrollY]="true">
    <ion-grid class="main-page__grid">
        <ng-container
            *ngIf="challenge && (challengeType === 'bet' || challengeType === 'scorersPredictions'); else quizChallenge"
        >
            <h3 class="challenge__reward-title">Reward</h3>
            <div class="challenge__reward">
                <ion-icon slot="start" src="assets/icon/df-fan-point-gradient.svg"></ion-icon>
                <span class="points">
                    {{ challenge.rewardPoints }}
                    <span>FP</span>
                </span>
            </div>
            <df-leader-board></df-leader-board>
            <df-bet-challenge [challenge]="challenge"></df-bet-challenge>
        </ng-container>
        <ng-template #quizChallenge>
            <df-quiz-challenge></df-quiz-challenge>
        </ng-template>
    </ion-grid>
</ion-content>
