.challenge-list {
    .challenge {
        --inner-padding-bottom: 15px;
        --inner-padding-end: 0px;
        --padding-start: 0px;
        padding-top: 15px;

        &__image {
            min-width: 75px;
            height: 64px;
            border-radius: 10px;
            max-width: 75px;
        }

        &__content {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;

            .challenge__label {
                color: var(--color-white-text);
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .challenge__actions {
                display: flex;
                justify-content: space-between;

                .points {
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 7px;
                        font-size: 24px;
                        font-weight: 200;
                        background: var(--gradient-primary);
                        background-clip: border-box;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        min-width: 85px;
                    }

                    ion-icon {
                        margin-right: 8px;
                        font-size: 27px;
                    }
                }

                ion-button {
                    width: 83px;
                }
            }
        }
    }
}
