ion-header.layout-header {
    max-height: 42px;
    background: var(--color-dark-text);

    ion-toolbar {
        padding: 0 16px;
        max-height: 42px;
        --ion-toolbar-background: transparent;
        --border-color: transparent;
        --min-height: 42px;

        .back-icon {
            font-size: 24px;
        }

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__user-profile {
                width: 32px;
                height: 32px;
            }

            &__points {
                display: flex;
                align-items: center;
                gap: 8px;

                ion-icon {
                    font-size: 32px;
                }

                .user-points {
                    font-size: 18px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    span {
                        color: var(--color-light-grey);
                        font-size: 8px;
                    }
                }
            }
        }

        ion-title.child-title {
            width: calc(100% - 24px);
            text-align: center;
            font-size: 25px;
        }
    }
}

ion-popover {
    ion-content {
        --background: var(--app-background-color);
    }

    ion-item {
        font-size: 20px;
        letter-spacing: 2px;
        --background: transparent;

        ion-icon {
            margin-left: 16px;
            font-size: 16px;
        }
    }
}
