<ion-content class="welcome">
    <img class="welcome__preview" src="assets/images/examples/welcome-preview.png" />
    <img class="welcome__app-logo" src="assets/images/examples/app-logo.png" />
    <div class="welcome__content">
        <h4 class="welcome__title">Hi 👋</h4>
        <p class="welcome__description">Join the Digital Fan Revolution!</p>
        <ion-button class="welcome__register-button df-button df-button--secondary" (click)="navigateToRegister()">
            Let's go!
        </ion-button>
        <ion-button class="welcome__login-button" (click)="navigateToLogin()" fill="clear">
            Already have an account?
        </ion-button>
    </div>
</ion-content>
