.welcome {
    position: relative;

    &__preview {
        height: 60%;
        width: 100%;
    }

    &__content {
        max-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 46px;
    }

    &__app-logo {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 210px;
        height: 50px;
    }

    &__title {
        color: var(--color-white-text);
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__description {
        color: var(--color-white-text);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 20px 0px;
    }

    &__register-button {
        width: 194px;
    }

    &__login-button {
        height: 48px;
        color: var(--color-white-text);
        font-size: 14px;
        font-weight: 600;
        margin-top: 30px;
    }
}
